# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build products
build/
DerivedData/
*.o
*.d
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.icloud

# Firebase
GoogleService-Info.plist

# Claude Code
.claude/
